.section-container{
	
	.gender{

		background-color: #006E80;
		border-color: #006E80;
	}
	.slot{
		background-color: rgba(255, 0, 0, 0.79);
		border-color: rgba(255, 0, 0, 0.79);
	}
	.section{
		background-color: #C8CA42;
		border-color: #C8CA42;
	}

	table{
		text-align: center;
		thead{
			th{
				text-align: center;
			}
		}
	}
}